<launch>


   
    <include file="$(find tutorial_pkg)/launch/gmapping.launch"></include>
    
    <include file="$(find linorobot)/launch/include/move_base/move_base_$(env LINOBASE).launch" />

    <include file="$(find tutorial_pkg)/launch/frontier_exploration.launch"></include>
    
    <node pkg="tutorial_pkg" type="search_manager" name="search_manager" output="screen"/>

    
    
</launch>

